@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --ppading-x: calc((100%-1440px) / 2);
}

html,
body {
  font-family: var(--font-montserrat), sans-serif;
}

nav {
  backdrop-filter: blur(10px);
}
