@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --padding-x: calc((100vw - 1440px) / 2);
  --service-card-width: calc((1440px - (2 * 64px)) / 3);
}

html,
body {
  font-family: var(--font-montserrat), sans-serif;
}

.translate-y-0 {
  transform: translateY(0);
}

.-translate-y-full {
  transform: translateY(-100%);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 90s linear infinite; /* Animación más lenta y sin saltos */
}
